<div class="bg-dark text-white-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 my-3">
                <div class="row">
                    <div class="col-auto pl-0 pr-1 pt-1">
                        <mat-icon class="icon-2x">local_shipping</mat-icon>
                    </div>
                    <div class="col pl-2">
                        <h3>Free Shipping</h3>
                        <p>Free Shipping Everywhere</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 my-3">
                <div class="row">
                    <div class="col-auto pl-0 pr-1 pt-1">
                        <mat-icon class="icon-2x">security</mat-icon>
                    </div>
                    <div class="col pl-2">
                        <h3>Money Guarantee</h3>
                        <p>Get money back in 15 days</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 my-3 ">
                <div class="row">
                    <div class="col-auto pr-1 pt-1">
                        <mat-icon class="icon-2x">call</mat-icon>
                    </div>
                    <div class="col pl-2">
                        <h3>Online Support</h3>
                        <p>24/24</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
