<div class="m-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="w-100" [src]="ASSET.ABOUT_BANNER" alt="about banner"/>
            </div>
            <div class="col-lg-6 pl-5">
                <div class="row">
                    <h2 class="font-weight-bold">WELCOME TO STORE4PET</h2>
                    <p>We are a online pet store offering a fast, secure and convenient online shopping experience. Buy
                        everything you need for your puppies from Store4pet with hot deals, best prices.</p>
                    <p>Store4pet aims to provide the best products and impeccable service to the customer with
                        privileges including Free Shipping, Free Return and Customer Service in order.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-partner></app-partner>

<div class="m-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="row p-3">
                    <h3 class="font-weight-bold">OUR VISION</h3>
                    <p>We want to be the most loved e-commerce website. Focused on creating fresh customer experiences,
                        with easy-to-understand products, supported by digital technology</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row p-3">
                    <h3 class="font-weight-bold">OUR MISSION</h3>
                    <p>Experience risk-free shopping with Store4pet Guarantee - get the items you ordered or get your
                        money
                        back! Before buying an item, be sure to view product ratings and reviews from other users to
                        make informed purchase decisions.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row p-3">
                    <h3 class="font-weight-bold">OUR GOAL</h3>
                    <p>Focused on delivering an excellent customer experience, it offers comprehensive customer care and
                        hassle-free returns through its own first and last mile delivery arm supported by approximately
                        logistics partners.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-5">
    <div class="container">
        <div class="row p-3">
            <div class="col-12">
                <h3 class="font-weight-bold">
                    YOU CAN CHOOSE US BECAUSE WE ALWAYS PROVIDE IMPORTANCE...
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 p-3">
                <div class="row">
                    <h4>SECURE PAYMENT</h4>
                    <p>We use paypal, our partner, for secure payment.</p>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="row">
                    <h4>EASY ORDER TRACKING</h4>
                    <p>Track your order through your email, your order id every processing.</p>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="row">
                    <h4>24/7 SUPPORT</h4>
                    <p>We have employees from the world, so we can support you everywhere, everytime.</p>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="row">
                    <h4>QUALITY PRODUCT</h4>
                    <p>our vendors are brand official from the world.</p>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="row">
                    <h4>MONEY BACK GUARANTEE</h4>
                    <p>Get your money back in 15 days after your order delivery.</p>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="row">
                    <h4>FREE RETURN</h4>
                    <p>Free return product, no addition cost.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <img [src]="ASSET.BOTTOM_ABOUT_BANNER" alt="bottom about banner" class="w-100">
    </div>
</div>

