<div class="row">
  <div class="col-lg-3">

    <app-book-category></app-book-category>
  </div>
  <div class="col-lg-9">

    <div class="row">
      <div class="col-lg-5 col-md-6 mb-4" *ngFor="let product of products  | async">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">
              <a routerLink="/products/{{product.id}}">
              <img src="{{product.image}}"  style="height:150px">
              </a>
            </h4>
            <h4 class = "category-name">
              {{product.name}}
            </h4>
            <h5>{{product.price | currency: 'VND'}}</h5>
<!--            <p class="card-text text-truncate">{{product.description}}</p>-->
          </div>
          <div class="card-footer"  >
            <h6>Xuất xứ: {{product.origin}}</h6>
            <button class="btn btn-primary float-right" (click)="addToCart(product)">Add Cart</button>
          </div>
        </div>
      </div>
<!--      <div *ngIf="(products | async)?.length()== 0" class="col-md-12 alert alert-warning mt-1">-->
<!--        No product found-->
<!--      </div>-->
    </div>
    <div class="row">

      <!-- page size drop down selection -->
      <div class="col-md-6">

        <div class="row">
          <div class="col-md-3">
            <span>Page Size: </span>
          </div>
          <div class="col-md-9">
            <select (change)="updatePageSize($event.target.value)"
                    class="form-control-sm">
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
            </select>
          </div>
        </div>

      </div>

      <!-- pagination component -->
      <div class="col-md-6">

        <!-- client side paging -->
        <!-- <jw-pagination [items]="books" (changePage)="onChangePage($event)"></jw-pagination> -->

        <ngb-pagination [(page)]="currentPage"
                        [pageSize]="pageSize"
                        [collectionSize]="totalRecords"
                        (pageChange)="listProducts()"
                        class="d-flex justify-content-end">
            <ng-template ngbPaginationFirst>First</ng-template>
            <ng-template ngbPaginationLast>Last</ng-template>
            <ng-template ngbPaginationPrevious>Prev</ng-template>
            <ng-template ngbPaginationNext>Next</ng-template>

        </ngb-pagination>
      </div>

    </div>
  </div>
</div>


