<div class="m-5">
    <div class="container">
        <div class="row">
            <h1>Refund policy</h1>
            <p>We're so convinced you'll absolutely love our services, that we're willing to offer a 14 day risk-free
                money back guarantee. If you are not satisfied with the service for any reason you can get a refund
                within 15 days of making a purchase. Please keep in mind that even though we offer a full money back
                guarantee, we will issue a refund only for the unused portion of the service.</p>
            <h2>Contacting us</h2>
            <p>If you would like to contact us concerning any matter relating to this Refund Policy, you may do so via
                the <a [routerLink]="URL.SYMBOL+URL.CONTACT">contact form</a>
                or send an email to contact@{{CONSTANTS.DOMAIN}}</p>
        </div>
    </div>
</div>
