<div class="row my-2">
    <div class="align-items-center">
        <span class="font-weight-bold">5 stars</span>
    </div>
    <div class="col">
        <div class="h-100">
            <div class="progress h-100">
                <div class="progress-bar bg-dark" role="progressbar"
                     [style.width.%]="(fiveCount / count)*100"
                     aria-valuemin="0" aria-valuemax="100">
                    {{fiveCount / count | percent:'2.0-0'}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row my-2">
    <div class="align-items-center">
        <span class="font-weight-bold">4 stars</span>
    </div>
    <div class="col">
        <div class="h-100">
            <div class="progress h-100">
                <div class="progress-bar bg-dark" role="progressbar"
                     [style.width.%]="(fourCount / count)*100"
                     aria-valuemin="0" aria-valuemax="100">
                    {{fourCount / count | percent:'2.0-0'}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row my-2">
    <div class="align-items-center">
        <span class="font-weight-bold">3 stars</span>
    </div>
    <div class="col">
        <div class="h-100">
            <div class="progress h-100">
                <div class="progress-bar bg-dark" role="progressbar"
                     [style.width.%]="(threeCount / count)*100"
                     aria-valuemin="0" aria-valuemax="100">
                    {{threeCount / count | percent:'2.0-0'}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row my-2">
    <div class="align-items-center">
        <span class="font-weight-bold">2 stars</span>
    </div>
    <div class="col">
        <div class="h-100">
            <div class="progress h-100">
                <div class="progress-bar bg-dark" role="progressbar"
                     [style.width.%]="(twoCount / count)*100"
                     aria-valuemin="0" aria-valuemax="100">
                    {{twoCount / count | percent:'2.0-0'}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row my-2">
    <div class="align-items-center">
        <span class="font-weight-bold">1 stars</span>
    </div>
    <div class="col">
        <div class="h-100">
            <div class="progress h-100">
                <div class="progress-bar bg-dark" role="progressbar"
                     [style.width.%]="(oneCount / count)*100"
                     aria-valuemin="0" aria-valuemax="100">
                    {{oneCount / count | percent:'2.0-0'}}
                </div>
            </div>
        </div>
    </div>
</div>
