<div class="m-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-3">
                        <h3>1.&nbsp;<a class="text-grey" href="https://www.xpo.com/" target="_blank" rel="noopener noreferrer"
                                       style="outline: none;">XPO Logistics</a></h3>
                        <p>
                            <a class="text-grey" href="https://twitter.com/XPOLogistics" target="_blank"
                               rel="noopener noreferrer">@XPOLogistics</a>
                        </p>
                        <p>XPO Logistics helps companies around the world find supply chain
                            solutions suited to their needs. They spend over $450 million dollars per year on major
                            technology investments to continue pushing the field forward.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 p-3">
                        <img src="https://firebasestorage.googleapis.com/v0/b/store4pet.appspot.com/o/DELIVERY%2FXPOLogistics-min.jpg?alt=media&token=449e9962-484f-4fe3-948f-501529fe73c6"
                             alt="XPO Logistics" width="500" height="236">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-3">
                        <h3>2.&nbsp;<a class="text-grey" href="https://www.logistics.dhl/us-en/home/our-divisions/supply-chain.html"
                                       target="_blank" rel="noopener noreferrer">DHL Supply Chain North America
                            (Exel)</a>
                        </h3>
                        <p><a class="text-grey" href="https://twitter.com/DHLUS" target="_blank"
                              rel="noopener noreferrer">@DHLUSXPO</a></p>

                        <p>DHL allows companies to focus on their core business while they handle
                            the process of cataloging and shipping their goods around the world. Their ready-to-go
                            solutions
                            help save companies a lot of time and money.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 p-3">
                        <img
                            src="https://firebasestorage.googleapis.com/v0/b/store4pet.appspot.com/o/DELIVERY%2FDHL-min.jpg?alt=media&token=c6ef12b8-db27-403c-af8c-2677be5274c1"
                            alt="DHL Supply Chain North America (Exel)" width="500"
                            height="218">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-3">
                        <h3>3.&nbsp;<a class="text-grey" href="http://www.americold.com/" target="_blank"
                                       rel="noopener noreferrer">Americold</a></h3>
                        <p><a class="text-grey" href="https://twitter.com/americoldtweets?lang=en" target="_blank"
                              rel="noopener noreferrer">@americoldtweets</a></p>

                        <p>Americold provides temperature-controlled storage and distribution of
                            perishable food items. They make sure goods arrive at grocery stores and restaurants around
                            the
                            country in pristine condition.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 p-3">
                        <img
                            src="https://firebasestorage.googleapis.com/v0/b/store4pet.appspot.com/o/DELIVERY%2FAmericold-min.jpg?alt=media&token=7f8ffc77-2b40-45cf-8944-d98f51142eec"
                            alt="Americold" width="500" height="212">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-3">
                        <h3>4.&nbsp;<a class="text-grey" href="https://ryder.com/solutions/supply-chain-optimization" target="_blank"
                                       rel="noopener noreferrer">Ryder Supply Chain Solutions</a></h3>
                        <p><a class="text-grey" href="https://twitter.com/rydersysteminc?lang=en" target="_blank"
                              rel="noopener noreferrer">@RyderSystemInc</a></p>

                        <p>Ryder manages fleet&nbsp;optics, transportation, and supply chain
                            functions&nbsp;from behind the scenes for over 50,000 customers. They proudly tout their 99%
                            on-time delivery rate and maintain 44 million square feet&nbsp;of warehouse space.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 p-3">
                        <img
                            src="https://firebasestorage.googleapis.com/v0/b/store4pet.appspot.com/o/DELIVERY%2FRyder-min.jpg?alt=media&token=9b7be0fc-9668-42f0-98b1-0dc63c849c33"
                            alt="Ryder Supply Chain Solutions" width="500" height="218"
                        >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-3">
                        <h3>5.&nbsp;<a class="text-grey" href="https://www.geodis.us/geodis-in-the-usa-@/en/view-6108-category.html"
                                       target="_blank" rel="noopener noreferrer">GEODIS North America (OHL)</a></h3>
                        <p><a class="text-grey" href="https://twitter.com/GEODIS_Group" target="_blank"
                              rel="noopener noreferrer">@GEODIS_Group</a></p>

                        <p>This firm ranks among the top logistics companies in the country. They
                            maintain warehouses for different industries throughout the US covering over 37 million
                            square
                            feet of space.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 p-3">
                        <img
                            src="https://firebasestorage.googleapis.com/v0/b/store4pet.appspot.com/o/DELIVERY%2FGeodis-min.jpg?alt=media&token=ae61ce7f-7438-4304-bb2f-b5938e1490d0"
                            alt="GEODIS North America (OHL)" width="500" height="218"
                        >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-3">
                        <h3>6.&nbsp;<a class="text-grey" href="https://supplychain.fedex.com/" target="_blank" rel="noopener noreferrer">FedEx
                            Supply Chain</a></h3>
                        <p><a class="text-grey" href="https://twitter.com/FedEx" target="_blank"
                              rel="noopener noreferrer">@FedEx</a></p>

                        <p>Provides 3PL solutions for small and large companies throughout the
                            company. They provide personalized service and technology making it easy to perform order
                            fulfillment functions.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 p-3">
                        <img
                            src="https://firebasestorage.googleapis.com/v0/b/store4pet.appspot.com/o/DELIVERY%2FFedEx-min.jpg?alt=media&token=79450df0-a05e-4b86-86d2-f29e5d3b7381"
                            alt="FedEx Supply Chain" width="500" height="218"
                        >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-3">
                        <h3>7.&nbsp;<a class="text-grey" href="http://lineagelogistics.com/" target="_blank" rel="noopener noreferrer">Lineage
                            Logistics</a></h3>
                        <p><a class="text-grey" href="https://twitter.com/onelineage?lang=en" target="_blank"
                              rel="noopener noreferrer">@OneLineage</a></p>

                        <p>Lineage Logistics provides customized and dependable cold-chain
                            solutions to businesses nationwide. They’re constantly expanding to make sure they’re in a
                            position to provide logistics support to any company in need.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 p-3">
                        <img
                            src="https://firebasestorage.googleapis.com/v0/b/store4pet.appspot.com/o/DELIVERY%2FLineage-min.jpg?alt=media&token=14305700-dc40-4b5f-9a17-a71c892d834e"
                            alt="Lineage Logistics" width="500" height="218"
                        >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-3">
                        <h3>8.&nbsp;<a class="text-grey" href="https://www.kencogroup.com/" target="_blank" rel="noopener noreferrer">Kenco
                            Logistic Services LLC (KLS)</a></h3>
                        <p><a class="text-grey" href="https://twitter.com/KencoGroup" target="_blank"
                              rel="noopener noreferrer">@KencoGroup</a></p>

                        <p>Kenco Logistic Services LLC (KLS) provides distribution,
                            transportation, material handling and real estate leasing services for various industries.
                            They
                            actively seek partnerships with their customers in order to turn their supply chains into a
                            competitive edge for them.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 p-3">
                        <img
                            src="https://firebasestorage.googleapis.com/v0/b/store4pet.appspot.com/o/DELIVERY%2FKenco-min.jpg?alt=media&token=ea5a7cb4-b379-4f04-acc3-d7095a1d4f08"
                            alt="Kenco Logistic Services LLC (KLS)" width="500" height="218"
                        >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-3">
                        <h3>9.&nbsp;<a class="text-grey" href="https://www.nfiindustries.com/" target="_blank" rel="noopener noreferrer">NFI
                            Logistics</a></h3>
                        <p><a class="text-grey" href="https://twitter.com/nfiindustries?lang=en" target="_blank"
                              rel="noopener noreferrer">&nbsp;@NFIindustries</a></p>

                        <p>This international company provides 3PL services to companies ranging
                            from Fortune 500 companies to start-ups. Their 10,000-strong workforce helps out everyone
                            from
                            industrial giants to clothing retailers.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 p-3">
                        <img
                            src="https://firebasestorage.googleapis.com/v0/b/store4pet.appspot.com/o/DELIVERY%2FNFI-min.jpg?alt=media&token=4e21e5f8-e65f-45ff-9c6c-a97ff5b8df6c"
                            alt="NFI Logistics" width="500" height="218"
                        >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-3">
                        <h3>10.&nbsp;<a class="text-grey" href="https://www.dbschenker.com/usa" target="_blank" rel="noopener noreferrer">DB
                            Schenker Logistics Americas</a></h3>
                        <p><a class="text-grey" href="https://twitter.com/DBSchenkerUSA" target="_blank"
                              rel="noopener noreferrer">@DBSchenkerUSA</a></p>

                        <p>Provides industry support for the worldwide exchange of good with its
                            fleet of trucks, ships and airplanes. They assist business at the top of a number of
                            industries
                            like automobiles and technology.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 p-3">
                        <img
                            src="https://firebasestorage.googleapis.com/v0/b/store4pet.appspot.com/o/DELIVERY%2FDB-Schenker-min.jpg?alt=media&token=5654a7e1-63c1-4cb6-9c06-8dba6e734396"
                            alt="DB Schenker Logistics Americas" width="500" height="218"
                        >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-3">
                        <h3>11.&nbsp;<a class="text-grey" href="https://www.dsclogistics.com/" target="_blank" rel="noopener noreferrer">DSC
                            Logistics</a></h3>
                        <p><a class="text-grey" href="https://twitter.com/DSCLogistics" target="_blank" rel="noopener noreferrer">@DSCLogistics</a>
                        </p>

                        <p>DSC Logistics helps companies manage the complexities of supply chain management and helps
                            them
                            optimize their innate strengths to their advantage. The company makes themselves adaptable
                            in
                            order to configure solutions beneficial to their customers.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 p-3">
                        <img
                            alt="DSC Logistics" width="500" height="218"
                            src="https://firebasestorage.googleapis.com/v0/b/store4pet.appspot.com/o/DELIVERY%2FDSC-min.jpg?alt=media&token=e59b9b0f-845f-42bc-8bb6-054802bf0d83">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-3">
                        <h3>12.&nbsp;<a class="text-grey" href="https://www.ups-scs.com/" target="_blank" rel="noopener noreferrer">UPS
                            Supply
                            Chain Solutions</a></h3>
                        <p><a class="text-grey" href="https://twitter.com/ups_scg" target="_blank" rel="noopener noreferrer">@ups_scg</a>
                        </p>

                        <p>UPS Supply Chain Solutions provides a one-stop shop for companies seeking help with managing
                            the
                            logistics of getting their products around the company. Their well-known brand gives them an
                            edge in gaining the trust of new customers.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 p-3">
                        <img
                            alt="UPS Supply Chain Solutions" width="500" height="218"
                            src="https://firebasestorage.googleapis.com/v0/b/store4pet.appspot.com/o/DELIVERY%2FUPS-min.jpg?alt=media&token=8fa6e58f-e7c8-471f-9f51-d62738c34942">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-3">
                        <h3>13.&nbsp;<a class="text-grey" href="https://www.cevalogistics.com/ground/north-america" target="_blank"
                                        rel="noopener noreferrer">CEVA Logistics North America</a></h3>
                        <p><a class="text-grey" href="https://twitter.com/cevalogistics?lang=en" target="_blank"
                              rel="noopener noreferrer">@cevalogistics</a>
                        </p>

                        <p>CEVA Logistics provides companies with both LTL and FTL transportation services for their
                            products around the country. Their ocean and air freight capabilities allow them to expand
                            their
                            reach around the world.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 p-3">
                        <img
                            alt="CEVA Logistics North America" width="500" height="218"
                            src="https://firebasestorage.googleapis.com/v0/b/store4pet.appspot.com/o/DELIVERY%2FCEVA-min.jpg?alt=media&token=9cced789-bfd2-49ba-af4b-2606beafeddb">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-3">
                        <h3>14.&nbsp;<a class="text-grey" href="https://www.sclogistics.com/" target="_blank" rel="noopener noreferrer">Saddle
                            Creek Logistics Services</a></h3>
                        <p><a class="text-grey" href="https://twitter.com/saddlecreeklog?lang=en" target="_blank"
                              rel="noopener noreferrer">@SaddleCreekLog</a>
                        </p>

                        <p>Saddle Creek Logistics Services gives companies access to flexible warehouse storage,
                            synchronized inventory distribution and efficient and cost-effective transportation
                            services.
                            They work to help companies find solutions suited to the industry they work in.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 p-3">
                        <img
                            alt="Saddle Creek Logistics Services" width="500" height="218"
                            src="https://firebasestorage.googleapis.com/v0/b/store4pet.appspot.com/o/DELIVERY%2FSaddle-Creek-min.jpg?alt=media&token=56f05395-773d-4761-b2c7-bf2743161bd4"
                        >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-3">
                        <h3>15.&nbsp;<a class="text-grey" href="http://www.us.dsv.com/" target="_blank" rel="noopener noreferrer">DSV
                            North
                            America</a></h3>
                        <p><a class="text-grey" href="https://twitter.com/dsv_as?lang=en" target="_blank"
                              rel="noopener noreferrer">@DSV_AS</a></p>

                        <p>DSV North America helps businesses side-step the complications of logistics project
                            management by
                            installing seamless solutions for all of the moving parts involved. They’ve helped everyone
                            from
                            healthcare companies to renewable energy providers.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 p-3">
                        <img
                            alt="DSV North America" width="500" height="212"
                            src="https://firebasestorage.googleapis.com/v0/b/store4pet.appspot.com/o/DELIVERY%2FDSV-min.jpg?alt=media&token=e05c818f-a78f-4da4-90e8-4f46043cd9ea">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-3">
                        <h3>16.&nbsp;<a class="text-grey" href="https://www.penskelogistics.com/" target="_blank"
                                        rel="noopener noreferrer">Penske
                            Logistics</a></h3>
                        <p><a class="text-grey" href="https://twitter.com/penskelogistics?lang=en" target="_blank"
                              rel="noopener noreferrer">@PenskeLogistics</a>
                        </p>

                        <p>Penske Logistics provide companies with efficient supply logistics solutions. They step in to
                            manage everything from warehouse management and distribution to transportation services.</p>
                        <p><strong>Three key facts about Penske Logistics:</strong></p>
                    </div>
                    <div class="col-md-6 col-sm-12 p-3">
                        <img
                            alt="Penske Logistics" width="500" height="218"
                            src="https://firebasestorage.googleapis.com/v0/b/store4pet.appspot.com/o/DELIVERY%2FPenske-min.jpg?alt=media&token=b1d24bf0-e16a-4e28-8eb3-540ec927e2a0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-3">
                        <h3>17.&nbsp;<a class="text-grey" href="https://us.kuehne-nagel.com/" target="_blank" rel="noopener noreferrer">Kuehne
                            + Nagel, Inc. (The Americas)</a></h3>
                        <p><a class="text-grey" href="https://twitter.com/knlogistics?lang=en" target="_blank" rel="noopener noreferrer">@KNLogistics</a>
                        </p>

                        <p>Kuehne + Nagel’s placement of its logistics offices at strategic points around the world
                            allow it
                            to take advantage of the global desire for goods from around the world. Their customers come
                            from industries ranging from oil and gas to marine logistics.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 p-3">
                        <img
                            alt="Kuehne + Nagel, Inc. (The Americas)" width="500" height="218"
                            src="https://firebasestorage.googleapis.com/v0/b/store4pet.appspot.com/o/DELIVERY%2FKuehne-min.jpg?alt=media&token=db34ebf4-876e-4d5b-8fbc-e72d420569f5">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-3">
                        <h3>18.&nbsp;<a class="text-grey" href="http://www.wsinc.com/" target="_blank" rel="noopener noreferrer">WSI
                            Supply
                            Chain Solutions</a></h3>
                        <p><a class="text-grey" href="https://twitter.com/wsi_logistics?lang=en" target="_blank"
                              rel="noopener noreferrer">@WSI_Logistics</a>
                        </p>

                        <p>WSI Supply Chain solutions support their nationwide logistics solutions from their home base
                            in
                            Appleton, WI. They companies achieve cost efficiency by shortening lead times and increasing
                            efficiency.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 p-3">
                        <img
                            alt="WSI Supply Chain Solutions" width="500" height="218"
                            src="https://firebasestorage.googleapis.com/v0/b/store4pet.appspot.com/o/DELIVERY%2FWSI-min.jpg?alt=media&token=bab05e20-ace6-4d2f-9db7-73cdf3ee0667">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-3">
                        <h3>19.&nbsp;<a class="text-grey" href="http://wsionline.com/" target="_blank" rel="noopener noreferrer">Warehouse
                            Services, Inc.</a></h3>
                        <p><a class="text-grey" href="https://twitter.com/wsi_ismi" target="_blank"
                              rel="noopener noreferrer">@WSI_ISMI</a>
                        </p>

                        <p>Warehouse Services, Inc prides themselves on delivering bottom-line value while reducing the
                            overall costs of their customers. They continue to expand their presence throughout various
                            regions of the country.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 p-3">
                        <img
                            alt="Warehouse Services, Inc." width="500" height="212"
                            src="https://firebasestorage.googleapis.com/v0/b/store4pet.appspot.com/o/DELIVERY%2FWarehouse-Services-Inc-min.jpg?alt=media&token=d603a4de-6065-484d-9c6f-c2de97bf4b51">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-3">
                        <h3>20.&nbsp;&nbsp;<a class="text-grey" href="http://www.apllogistics.com/regions/north-america/" target="_blank"
                                              rel="noopener noreferrer">APL Logistics North America</a></h3>
                        <p><a class="text-grey" href="https://twitter.com/apllogistics?lang=en" target="_blank" rel="noopener noreferrer">@APLLogistics</a>
                        </p>

                        <p>API Logistics North America prides itself on being an innovator since establishing itself
                            back in
                            1980. They introduced the concept of the guaranteed LCL/LTL service, changing the way things
                            got
                            done in the industry.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 p-3">
                        <img
                            alt="APL Logistics North America" width="500" height="218"
                            src="https://firebasestorage.googleapis.com/v0/b/store4pet.appspot.com/o/DELIVERY%2FAPL-min.jpg?alt=media&token=f92aa9a2-28f1-40f4-adf4-13b29d36eb80"
                            style=" width:500px;height:218px">
                    </div>
                </div>
                <div>


                </div>
            </div>
        </div>
    </div>
</div>
